testbot.json
{
  "name": "testbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -420,
        40
      ],
      "id": "1d0f57ec-6b94-4628-8582-ce584def8079",
      "name": "start",
      "webhookId": "8b9c6170-348a-48c9-b88c-493cec579d5a",
      "credentials": {
        "telegramApi": {
          "id": "ir0tpUtqIQXCimaw",
          "name": "TEST POGODA"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "начать диалог"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e30c754e-1cfe-437a-adf5-11e62560531b",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "список команд"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3388c6b3-525e-458d-b9e0-bebf645699ba",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/time",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "текущее время и дата"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b8a8817-0415-4cac-b9f5-7874346a158b",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/weather",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Погода"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2dd56c05-5956-49ef-ab2b-c2ab06327387",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "неизвестная команда"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -60,
        20
      ],
      "id": "23b6d8e5-3c56-4d1d-b06b-525ccfe5dd2c",
      "name": "command"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    text: `Текущее время: ${new Date().toLocaleTimeString(\"ru-RU\", { hour: '2-digit', minute: '2-digit', second: '2-digit' })}, Дата: ${new Date().toLocaleDateString(\"ru-RU\")}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        140
      ],
      "id": "2b265a54-cfa8-49d9-bb76-d756aad570d8",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "={{ $('command').item.json.message.from.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        140
      ],
      "id": "a7656760-17cc-4c64-9436-6ced34161454",
      "name": "Time",
      "webhookId": "af983185-69f3-4b72-af77-0fc2e43a691a",
      "credentials": {
        "telegramApi": {
          "id": "ir0tpUtqIQXCimaw",
          "name": "TEST POGODA"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('command').item.json.message.from.id }}",
        "text": "=Привет! Я тестовый бот. Чем могу помочь?",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        -220
      ],
      "id": "951e2995-d670-4a2f-ae41-3d4804f2f6c7",
      "name": "Dialog",
      "webhookId": "af983185-69f3-4b72-af77-0fc2e43a691a",
      "credentials": {
        "telegramApi": {
          "id": "ir0tpUtqIQXCimaw",
          "name": "TEST POGODA"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('command').item.json.message.from.id }}",
        "text": "=*Список команд:*\n\n/start - 😎 Начать диалог\n/help - 📋 Список команд\n/time - ⏰ Текущее время и дата\n/weather - ⛅️ Погода",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        -40
      ],
      "id": "5d0e086d-515b-492d-b914-c53e0544e7f3",
      "name": "Command List",
      "webhookId": "af983185-69f3-4b72-af77-0fc2e43a691a",
      "credentials": {
        "telegramApi": {
          "id": "ir0tpUtqIQXCimaw",
          "name": "TEST POGODA"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('command').item.json.message.from.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1060,
        320
      ],
      "id": "e63c5ab5-7cf9-496c-880e-3f3d5245335c",
      "name": "Pogoda",
      "webhookId": "af983185-69f3-4b72-af77-0fc2e43a691a",
      "credentials": {
        "telegramApi": {
          "id": "ir0tpUtqIQXCimaw",
          "name": "TEST POGODA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.message.text;\nconst city = text.split(\" \")[1]; // Берем второе слово (город)\n\nif (!city) {\n  return [{ json: { error: \"Город не указан!\" } }];\n}\n\nreturn [{ json: { city } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        180
      ],
      "id": "137fd894-c71a-4ea1-9af0-1b1f07405a5b",
      "name": "pogoda code"
    },
    {
      "parameters": {
        "url": "=http://api.weatherapi.com/v1/current.json?key=e6bef693436f483aa95144205252102&q={{ $json.local_names.ru }}&lang=ru",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        320
      ],
      "id": "09042718-8e65-4f7f-9548-ea4900eb9f0e",
      "name": "OpenWeatherMap",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "=http://api.openweathermap.org/geo/1.0/direct?q={{ $json.city }}&limit=1&appid=a736dfe52ca6fb4be76f657e03a3e241",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        320
      ],
      "id": "53f790d5-a2a8-4458-976c-b3fc12b7c68d",
      "name": "Mesto",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const weather = $json.current;\nconst location = $json.location;\n\nconst message = `Погода в городе ${location.name}: ${weather.temp_c}°C, ${weather.condition.text}, влажность ${weather.humidity}%.`;\n\nreturn [{ json: { text: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        320
      ],
      "id": "6546d778-9b58-4ff1-a53d-b2e48e02a50b",
      "name": "Format"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "12K_jC9KwnYzYrm4pkzhqfuB6bcoHF2OAcLFAjUvxKHE",
          "mode": "list",
          "cachedResultName": "Test Bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12K_jC9KwnYzYrm4pkzhqfuB6bcoHF2OAcLFAjUvxKHE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12K_jC9KwnYzYrm4pkzhqfuB6bcoHF2OAcLFAjUvxKHE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.message.from.id }}",
            "username": "={{ $json.message.from.username }}",
            "name": "={{ $json.message.from.first_name }} {{ $json.message.from.last_name }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -420,
        260
      ],
      "id": "33fa3f60-585f-4d5f-aa22-bfc806253993",
      "name": "user",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qguZF164pSp65TUR",
          "name": "МОЙ GOOGLE"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('command').item.json.message.from.id }}",
        "text": "=🆘  *Неверный формат запроса.*\n\nВведите запрос в формате: /weather [НАЗВАНИЕ ГОРОДА]\n\nНапример:  /weather Москва",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        480
      ],
      "id": "63140621-a7c8-45f9-8d1c-9bda0ee1c2c3",
      "name": "error city",
      "webhookId": "6a98c73d-63e3-4fb6-a0a2-b4dc20a30c50",
      "credentials": {
        "telegramApi": {
          "id": "ir0tpUtqIQXCimaw",
          "name": "TEST POGODA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "044331b2-6fdc-4749-bbeb-9d12ca659d03",
              "leftValue": "={{ $json.city }}",
              "rightValue": " Город не указан!",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        380
      ],
      "id": "20c4ee69-a966-4bb0-88e0-cbe2497a69c5",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('command').item.json.message.from.id }}",
        "text": "=❌ Команда не распознана.  \n📋 Доступные команды:  \n/start - Начать диалог  \n/help - Список команд  \n/time - Текущее время  \n/weather [город] - Узнать погоду",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -60,
        360
      ],
      "id": "b64f72f6-da24-4d9c-bcfc-b4c08ae600a8",
      "name": "no com",
      "webhookId": "6a98c73d-63e3-4fb6-a0a2-b4dc20a30c50",
      "credentials": {
        "telegramApi": {
          "id": "ir0tpUtqIQXCimaw",
          "name": "TEST POGODA"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "user",
            "type": "main",
            "index": 0
          },
          {
            "node": "command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "command": {
      "main": [
        [
          {
            "node": "Dialog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Command List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pogoda code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "no com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pogoda code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Mesto": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Pogoda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Mesto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error city",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5b19e253-05d9-40d4-82dd-9551c9af7299",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4285cdcefd07af59d153976ea06da952ddd24c77e3a61263babeb0405a411dd"
  },
  "id": "PSknV3L5infWVGqa",
  "tags": []
}
